<body>
    <header class="page-header">
      <div class="container">
          <h1><a href="/"></a></h1>
      </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </main>

    <main class="container">
        <div class="row">
            <div class="col">
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-dark" href="https://mdbootstrap.com/">CS3240</a>
                <br>
                Michael Yates
                </div>
            </div>
        </div>
    </main>
</body>
