{% extends "polls/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<main class="container">
        <div class="row">
            <div class="col">
                <div class="text-center p-3">
                    <h1> Poll Questions </h1>
                </div>
            </div>
        </div>
    </main>


<br>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <div class="container-fluid">
        <li><a class="btn btn-primary btn-lg" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <!-- the href tag makes the question.question_text an html link to polls:detail question.id -->
        <br>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% endblock %}



